.body{
    box-sizing: border-box;
}

.team-heading{
    background: crimson;
    color: white;
}

.employee-card{
    margin: 15px;
    width: 30%;
    box-shadow: 10px 10px 5px #888888;
    transition: all 0.3s ease;
}
.employee-card:hover{
    transform: scale(1.05);
}

.team-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.manager .card-header{
    background: #3354AA;
    color: white;
}

.engineer .card-header{
    background: #f0b111;
    color: white;
}
.intern .card-header{
    background: #01847f;
    color: white;
}